*{
    background-color: rgb(253, 203, 110);
    text-align: center;
    color:rgb(7, 9, 99)

}

.startButton{
    background-color:  rgb(12, 92, 61);
    width: 20em;
    height:4em;
}

.ex{
    text-align: center;
}

.SelsectButton{
    background-color:  rgb(12, 92, 61);
    width: 15em;
    height:4em;
}